@use '../../abstracts'as bp;
@use '../../abstracts/animations'as *;

.cool-drink-card {

    [data-filter-category="fanta"],
    [data-filter-category="mezzo"],
    [data-filter-category="water"],
    [data-filter-category="coca_cola"],
    [data-filter-category="capri_sun"],
    [data-filter-category="lemon_lime"] {
        .product-card__right-side {
            .product-card__link {
                width: 8em;
                height: 10.7em;

                @include bp.mobile {
                    width: 7em;
                    height: 8.9em;
                }

                @include bp.tablet {
                    width: 7em;
                    height: 9.7em;
                }
            }
        }
    }

    [data-filter-category="fanta"],
    [data-filter-category="mezzo"],
    [data-filter-category="water"],
    [data-filter-category="coca_cola"],
    [data-filter-category="lemon_lime"] {
        &:hover {

            .product-card__link {
                img {
                    animation: wooble 1.5s;
                }
            }
        }
    }


    [data-filter-category="limonade"] {
        .product-card__right-side {
            .product-card__link {
                width: 15em;
                height: 9em;

                @include bp.mobile {
                    width: 12em;
                    height: 7em;
                }
            }
        }
    }

    [data-filter-category="capri_sun"] {
        .product-card__right-side {
            .product-card__link {
                @include bp.tablet {
                    width: 7em;
                    height: 7em;
                }
            }
        }
    }

    .product-card__right-side {
        bottom: 3%;
        right: -3%;
    }
}