@use '../../abstracts' as v;

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 3em 0;

    @keyframes customBounceIn {
        from {
            opacity: 0;
            transform: scale(0.89);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__item {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em 1.3em;
        width: 32%;
        z-index: 1;
        border-radius: .35em;
        transition: box-shadow .5s;
        // border: .1em solid v.$black;
        box-shadow: 0 0 5px 2.5px rgb(255, 255, 255);
        // background-image: url('../media/png/shape/shape.png');

        &--active {
            display: flex;
            animation: customBounceIn .7s cubic-bezier(0.17, 0.89, 0.32, 1.28);
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: .35em;
            transition: width .3s;
            z-index: -1;
            // background-color: rgba(v.$mainColor, .9);
        }

        &:hover {

            box-shadow: 0 0 5px 2.5px rgb(224, 224, 224);

            .product-card__title {
                // animation: headShake 1s;
            }

            .product-card__link {
                img {
                    animation: rubberBand 1.5s infinite;
                }
            }

            .product-options {
                .product-option {
                    // animation: rubberBand .9s cubic-bezier(0.17, 0.89, 0.32, 1.28);
                }

                .product-option--extra {
                    // animation: jello .9s;
                }
            }

            .product-card__certificate {
                img {
                    // animation: pulse 1.1s;
                }
            }

            .product-card__content {
                // animation: fadeInUp .9s;
            }
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8em;
        padding: .7em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 9.9em;
    }

    &__link {
        text-align: center;
        display: block;
        width: 13em;
        height: 12em;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__certificate {
        position: absolute;
        width: 2.1em;
        height: 2.1em;
        left: 50%;
        transform: translateX(-50%);
        top: .5em;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        text-align: center;
        font-weight: 115;
        font-size: 1em;
    }
}