@use '../../../abstracts/breakpoints'as bp;

.product-option {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .3em;

    // &--extra {
    //     &::before {
    //         content: '+';
    //         position: absolute;
    //         left: -25%;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         font-size: 1.3em;

    //         @include bp.mobile {
    //             left: -32%;
    //         }
    //     }
    // }

    &--extra {
        &::before {
            content: '';
            position: absolute;
            left: -21%;
            top: 50%;
            height: 100%;
            font-size: 1.3em;
            transform: translateY(-50%);
            border-left: 1.7px solid rgb(225, 211, 177);

            @include bp.mobile {
                left: -32%;
            }
        }
    }

    &__label {
        text-align: center;
        font-size: .65em;

        @include bp.mobile {
            font-size: .49em;
        }
    }

    &__size,
    &__price {
        font-size: 1.3em;

        @include bp.mobile {
            font-size: 1em;
        }
    }

    &__size,
    &__label {
        text-transform: uppercase;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .1em;
    }
}