@use '../../../abstracts'as v;
@use '../../../abstracts/breakpoints'as bp;


.product-option {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .3em;

    @include bp.tablet {
        margin: 0 .21em;
    }

    &--extra {
        &::before {
            content: '';
            position: absolute;
            left: -21%;
            top: 50%;
            height: 100%;
            font-size: 1.3em;
            transform: translateY(-50%);
            border-left: 1.7px solid v.$color-border;

            @include bp.mobile {
                left: -12%;
                height: 81%;
            }

            @include bp.tablet {
                left: -9%;
                height: 85%;
            }
        }
    }

    &__label {
        text-align: center;
        font-size: .65em;

        @include bp.mobile {
            font-size: .49em;
        }

        @include bp.tablet {
            font-size: .41em;
        }
    }

    &__size,
    &__price {
        font-size: 1.3em;

        @include bp.mobile {
            font-size: .9em;
        }

        @include bp.tablet {
            font-size: .8em;
        }
    }

    &__size,
    &__label {
        text-transform: uppercase;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .1em;
    }
}