@use '../../../abstracts/' as v;
@use '../../../abstracts' as mx;

.footer-navigation {
    @include mx.footer-base(column, flex-start, flex-start, v.$white);

    &__title {
        text-transform: uppercase;
        font-size: v.$footeLinkFontSize;
        font-weight: 333;
    }
}