@use '../../abstracts' as v;

.desktop-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: v.$black;

    &__wrapper {
        height: 7em;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__list {
        display: flex;
        gap: 1em;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: .5em;
        text-transform: uppercase;
        font-size: 1.3em;
        color: v.$mainColor;
    }
}