@use '../../abstracts/placeholders'as p;

.logo {
    position: relative;
    z-index: 7;

    &__link {
        display: block;
        width: 9em;
        height: 3.1em;

        img {
            @extend %img;
        }
    }
}