@use '../../abstracts' as v;
@use '../../abstracts' as mx;
@use '../../abstracts/placeholders' as *;

.faq {
    @include mx.section-base;

    &-accordion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        &__item {
            position: relative;
            border-radius: .3em;
            border: 1px solid v.$black;
            background-image: url('../media/png/shape/shape_6.png');
            background-position: center;
            background-size: cover;

            &::before {
                @extend %before-after;
                background-color: rgba(v.$mainColor, .8);
            }
        }

        &__head {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color .3s;

            &--active {
                background-color: rgba(v.$black, .7);
            }
        }

        &__head,
        &__description {
            padding: .7em;
        }

        &__body {
            position: relative;
            overflow: hidden;
            height: 0;
            transition: height .3s;
        }

        &__title {
            transition: color .5s;

            &--active {
                color: v.$white;
            }
        }

        &__icon {
            display: inline-block;
            font-size: 1.9em;
            transition: color .5s;

            svg {
                width: 1.1em;
                height: 1.1em;
                transition: transform .3s;
            }

            &--active {
                color: v.$white;

                svg {
                    transform: rotate(315deg);
                }
            }
        }
    }
}