@use '../../abstracts'as v;
@use '../../abstracts'as bp;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: #1d1d1d;

    @include bp.mobile {}

    @include bp.tablet {}

    &__wrapper {
        height: 7em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include bp.mobile {
            height: 5.7em;
        }

        @include bp.tablet {
            height: 5.9em;
        }
    }

    &__list {
        display: flex;
        gap: 1em;

        @include bp.mobile {
            display: none;
        }

        @include bp.tablet {
            display: none;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: .5em;
        text-transform: uppercase;
        letter-spacing: .09em;
        font-weight: 615;
        font-size: 1.3em;
        color: v.$mainColor;
    }

    &-menu {
        cursor: pointer;
        user-select: none;
        display: none;

        @include bp.mobile {
            display: block;
        }

        @include bp.tablet {
            display: block;
        }
    }
}