@use '../../abstracts'as v;
@use '../../abstracts'as bp;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: #000000;

    @include bp.mobile {}

    @include bp.tablet {}

    &__wrapper {
        height: 7em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include bp.mobile {
            height: 5.7em;
        }

        @include bp.tablet {
            height: 5.9em;
        }
    }

    &__list {
        display: flex;
        gap: 1em;

        @include bp.mobile {
            display: none;
        }

        @include bp.tablet {
            display: none;
        }
    }

    &__link {
        text-transform: uppercase;
        letter-spacing: .09em;
        font-size: 1.3em;
        padding: .5em .25em;
        transition: color .3s, background-color .5s;
        border-radius: v.$baseBorderRadius;
        color: v.$mainColor;

        &--active {
            text-shadow: 1.1px 1.1px 4.5px v.$mainColor;
            // color: v.$black;
            // box-shadow: 0 0 3px 1.5px v.$mainColor;
            // background-color: v.$mainColor;
        }
    }

    &-menu {
        cursor: pointer;
        user-select: none;
        display: none;

        @include bp.mobile {
            display: block;
        }

        @include bp.tablet {
            display: block;
        }
    }
}