@use '../../abstracts'as v;
@use '../../abstracts'as bp;

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    background-color: v.$bitez-primary;

    @include bp.mobile {}

    @include bp.tablet {}

    &__wrapper {
        height: 7em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include bp.mobile {
            height: 5.7em;
        }

        @include bp.tablet {
            height: 5.9em;
        }
    }

    &__list {
        display: flex;
        gap: 1em;

        @include bp.mobile {
            display: none;
        }

        @include bp.tablet {
            display: none;
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.3em;
        padding: .3em .25em;
        transition: color .3s, background-color .5s;
        border-bottom: 2.5px solid transparent;
        color: v.$black;

        &--active {
            color: v.$bitez-secondary;
            border-bottom: 2.5px solid v.$bitez-secondary;
        }
    }

    &-menu {
        cursor: pointer;
        user-select: none;
        display: none;

        @include bp.mobile {
            display: block;
        }

        @include bp.tablet {
            display: block;
        }
    }
}