$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


$bitez-primary:rgb(253, 201, 15);
$bitez-secondary:rgb(223, 23, 95);

$card-background-color:rgb(251, 235, 205);


$mainColor: rgb(253, 201, 15);

$borderCardColor:rgb($black, .1);
$sectionBaseBackground:rgb(255, 243, 227);

// default configs start here

$default-font:'agrandir_narrow';
$hero-font:'agrandir_narrow_black';

// default configs end here

// footer contact, links, follow us font size
$footeLinkFontSize: 1em;

$baseBorderRadius:.3em;

// selection variables start here
$colorSelection: $white;
$backgroundColorSelection: $black;
// selection variables end here