// color
$color-black: rgb(0, 0, 0);
$color-border:rgba($color-black, .1);
$color-white: rgb(255, 255, 255);
$color-primary:rgb(253, 201, 15);
$color-secondary:rgb(223, 23, 95);

// background color
$bg-primary:rgb(251, 235, 205);

// border radius
$border-radius-base:.3rem;

// font size
$font-size-footer-link:1rem;

// text color
$text-primary:$color-black;
$text-secondary:$color-white;

// selection
$color-selection: $color-white;
$bg-color-selection: $color-black;

// font family
$font-family-primary:'agrandir_narrow';
$font-family-secondary:'agrandir_narrow_black';