$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$mainColor: rgb(255, 211, 73);

$hotDeliciousBurgerBackground: rgb(227, 227, 227);


// footer contact, links, follow us font size
$footeLinkFontSize: 1em;

$baseBorderRadius:.3em;

// selection variables start here
$colorSelection: $white;
$backgroundColorSelection: $black;
// selection variables end here