@use '../../abstracts'as v;
@use '../../abstracts'as bp;

.footer {
    position: relative;
    background-image: url('../media/png/shape/shape.png');
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(v.$black, .8);
    }

    &__heading {
        text-transform: uppercase;
        padding-bottom: .5em;
        letter-spacing: .1em;
        font-size: 1.8em;
        color: v.$white;

        @include bp.mobile {
            text-align: center;
            padding: 1em 0;
            font-size: 1.25em;
            letter-spacing: .17em;
        }

        @include bp.tablet {
            font-size: 1.3em;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 3em 0;

        @include bp.mobile {
            flex-direction: column;
            align-items: center;
        }
    }
}