@use '../../abstracts' as v;
@use '../../abstracts/breakpoints' as bp;

.policy {
    padding-top: 7.7em;

    &__article {

        // privacy-policy.html styles
        &>p,
        ul li>p {
            padding: .5em 0;
        }
    }

    &__heading {
        text-transform: uppercase;
        text-align: center;
        padding: 1em 0;
        font-size: 2.3em;
    }

    &__subheading {
        text-transform: capitalize;
        font-size: 1.9em;
        padding: .5em 0;

        @include bp.mobile {
            text-align: center;
            padding: 1em 0;
        }
    }

    &__link {
        text-decoration: underline;
        color: v.$color-secondary;
    }

    &-list {

        &__item {
            display: flex;
            gap: 0 .3em;
            padding: .7em 0;
        }

        &__term {
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .fan-page__link {
        @include bp.mobile {
            font-size: .7em;
        }
    }
}