@use '../../../abstracts' as v;
@use '../../../abstracts' as bp;
@use '../../../abstracts/animations' as *;
@use '../../../abstracts/placeholders' as p;

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    @include bp.mobile {
        gap: .3em;
    }

    &__item {
        position: relative;
        display: none;
        padding: 1.5em 1.3em;
        width: 32%;
        z-index: 1;
        border-radius: .35em;
        transition: box-shadow .5s;
        background-color: v.$bg-primary;

        &--active {
            display: block;
            animation-name: bounceIn;
            animation-duration: .7s;
            animation-fill-mode: both;
            animation-delay: calc(var(--index) * 0.11s);
            animation-timing-function: cubic-bezier(0.17, 0.89, 0.32, 1.28);
        }

        &::after {
            @extend %before-after;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('../media/svg/noise.svg');
            background-size: cover;
            background-position: center;
        }

        @include bp.mobile {
            width: 100%;
            padding: 1em;
            border: 1px solid v.$color-border;
        }

        @include bp.tablet {
            width: 47%;
        }
    }

    &__left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right-side {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }

    &__title {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 755;
        padding: .7em 0;
        // width: 13.9em;
        color: v.$color-secondary;

        &::after {
            @extend %before-after;
            top: 71%;
            width: 39%;
            height: 18%;
            background-image: url('../media/svg/line.svg');
            background-size: cover;
            background-position: center;
        }

        @include bp.mobile {
            font-size: 1.3em;
            padding: .5em 0;
        }

        @include bp.tablet {
            font-size: 1.41em;
        }
    }

    &__link {
        text-align: center;
        display: block;
        width: 13em;
        // height: 9em;


        img {
            @extend %img;
        }

        @include bp.mobile {
            width: 10.3em;
            // height: 7.3em;
        }
    }

    &__description {
        width: 51%;
        font-size: .8em;
        line-height: 1.3em;

        @include bp.mobile {
            font-size: .8em;
            width: 43%;
        }
    }
}