@use '../../../abstracts'as v;
@use '../../../abstracts'as bp;
@use '../../../abstracts/placeholders'as p;
@use '../../../abstracts/animations'as *;

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    @include bp.mobile {
        gap: .3em;
    }

    &__item {
        position: relative;
        display: none;
        // flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        padding: 1.5em 1.3em;
        width: 32%;
        // width: 37%;
        z-index: 1;
        border-radius: .35em;
        transition: box-shadow .5s;
        background-color: v.$card-background-color;

        &--active {
            display: flex;
            animation-name: bounceIn;
            animation-duration: .7s;
            animation-fill-mode: both;
            animation-delay: calc(var(--index) * 0.11s);
            animation-timing-function: cubic-bezier(0.17, 0.89, 0.32, 1.28);
        }

        &::after {
            @extend %before-after;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('../media/svg/noise.svg');
            background-size: cover;
            background-position: center;
        }

        &:hover {
            // box-shadow: 0 0 5px 2.5px rgb(212, 203, 187);

            .product-card__link {
                img {
                    animation: rubberBand 1.5s;
                }
            }
        }

        @include bp.mobile {
            width: 100%;
            padding: 1em;
            border: 1px solid v.$borderCardColor;
        }

        @include bp.tablet {
            width: 47%;
        }
    }

    &__left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right-side {
        position: absolute;
        bottom: 13%;
        right: -3%;
    }

    &__title {
        position: relative;
        overflow: hidden;
        // text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        // font-size: 1.8em;
        font-size: 1.5em;
        font-weight: 755;
        padding: .7em 0;
        width: 13.9em;
        color: v.$bitez-secondary;

        &::after {
            @extend %before-after;
            top: 71%;
            width: 39%;
            height: 18%;
            background-image: url('../media/svg/line.svg');
            background-size: cover;
            background-position: center;
        }

        @include bp.mobile {
            font-size: 1.3em;
            padding: .5em 0;
        }

        @include bp.tablet {
            font-size: 1.5em;
        }
    }

    &__link {
        text-align: center;
        display: block;
        width: 13em;
        height: 9em;
        // width: 15em;
        // height: 12em;


        img {
            max-width: 100%;
            height: 100%;
        }

        @include bp.mobile {
            width: 12em;
            height: 9em;
        }

        @include bp.tablet {
            width: 13em;
            height: 11em;
        }
    }

    // &__certificate {
    //     position: absolute;
    //     width: 2.1em;
    //     height: 2.1em;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     top: .5em;

    //     svg {
    //         width: 21em;
    //         height: 21em;
    //     }
    // }

    &__description {
        // text-align: center;
        // font-size: 1em
        width: 51%;
        font-size: .8em;
        line-height: 1.3em;

        @include bp.mobile {
            font-size: .8em;
        }
    }
}