@use '../../abstracts' as bp;

.side {

    &-card {
        .product-card__item {
            &:first-child {
                .product-card__left-side {
                    .product-card__title {
                        @include bp.mobile {
                            width: 6.9em;
                        }
                    }
                }
            }
        }
    }

    .product-card__left-side {
        .product-card__title {
            @include bp.mobile {}
        }
    }

    .product-card__right-side {

        .product-card__link {
            width: 11em;
            // height: 7em;

            @include bp.mobile {
                width: 10.5em;
                // height: 8em;
            }

            @include bp.tablet {
                width: 11em;
                // height: 6.5em;
            }
        }
    }
}