.bitez-burger-size-upgrades {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 1em;
    }

    &__add {
        font-size: 1.8em;
    }

    &__size,
    &__price {
        font-size: 1.7em;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3em;
    }
}