@use '../../abstracts' as v;

.footer {
    position: relative;
    // height: 21em;
    // background-color: v.$mainColor;
    background-image: url('../media/png/slider/slider.png');
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(v.$black, .7);
    }

    &__heading {
        text-transform: uppercase;
        padding-bottom: .5em;
        letter-spacing: .1em;
        font-size: 1.8em;
        color: v.$white
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 3em 0;
    }
}