@use '../../../abstracts/breakpoints'as bp;

.product-options {
    display: flex;
    // justify-content: center;
    gap: 1em;
    margin: 1em 0;

    @include bp.mobile {
        width: 43%;
        gap: .1em;
    }

    @include bp.tablet {
        gap: 0;
    }
}