@use '../../../abstracts' as v;
@use '../../../abstracts' as bp;

.footer-legal {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
    gap: .5em;
    border-top: 1px solid v.$color-white;

    @include bp.mobile {
        flex-direction: column;
        align-items: center;
    }

    &__copyright {
        letter-spacing: .1em;
    }

    &__link,
    &__copyright {
        color: v.$color-white;
    }

    &__list {
        display: flex;
        gap: .1em .5em;
    }

    &__link {
        text-transform: capitalize;
        font-size: .85em;
        transition: color .3s;
        border-bottom: 1px solid v.$color-white;

        &:hover {
            color: v.$color-primary;
        }
    }
}