@use '../../abstracts/animations' as *;
@use '../../abstracts/placeholders' as *;
@use '../../abstracts' as v;

.load-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    transition: top .3s;
    backdrop-filter: blur(12px);
    background-color: rgba(v.$color-primary, .95);

    &--deactive {
        top: 100%;
    }

    &::before {
        content: '';
        width: 9em;
        height: 9em;
        background-image: url('../media/webp/logo/bitez_short.webp');
        background-size: cover;
        background-position: center;
        animation: heartBeat 1.5s infinite;
    }
}