@use '../variables' as v;
@use '../placeholders' as *;

@mixin filter-tab {
    @extend %flex-center;
    gap: .5em;
    margin: 1em 0;

    &__item {
        cursor: pointer;
        user-select: none;
        position: relative;
        padding: .3em .9em;
        font-size: 1.3em;
        border-radius: .3em;
        transition: background-image .3s;
        border: .09em solid rgb(231, 173, 1);

        &--active.filter-tab__item {
            background-image: linear-gradient(135deg, rgb(231, 173, 1), rgb(201, 201, 201));
        }
    }

    &__title {
        text-transform: capitalize;
        font-size: 1em;
    }
}