@use '../variables'as v;
@use '../breakpoints'as bp;
@use '../placeholders'as *;

@mixin filter-menu {
    @extend %flex-center;
    gap: .5em;
    margin: 1em 0;

    @include bp.mobile {
        flex-wrap: wrap;
    }

    &__item {
        cursor: pointer;
        user-select: none;
        position: relative;
        padding: .3em .9em;
        border-radius: .3em;
        transition: background-image .3s;
        border: .09em solid v.$bitez-secondary;

        &--active {
            background-color: v.$bitez-secondary;
        }

        @include bp.mobile {
            text-align: center;
        }

        @include bp.tablet {
            padding: .3em .7em;
        }
    }

    &__title {
        text-transform: capitalize;
        text-align: center;
        font-size: 1.3em;
        // color: v.$bitez-secondary;

        @include bp.mobile {
            font-size: .9em;
        }

        @include bp.tablet {
            font-size: .61em;
        }
    }
}