@use '../variables' as v;

@mixin footer-base($flexDirection: row, $mainX: flex-start, $crossX: flex-start,$iconColor) {
    &__list {
        display: flex;
        flex-direction: $flexDirection;
        justify-content: $mainX;
        align-items: $crossX;
        gap: 1.3em;
    }

    &__link {
        display: flex;
        align-items: flex-end;
        gap: .3em;
        letter-spacing: .09em;
        font-size: v.$footeLinkFontSize;
        color: v.$white;
    }

    &__icon {
        color: $iconColor;
    }
}