@use '../variables' as v;
@use '../placeholders' as p;
@use '../breakpoints' as bp;

@mixin section-base() {
    padding-top: 7.7em;

    &__heading {
        @extend %heading-text-effect;
        text-align: center;
        font-size: 4.1em;
        letter-spacing: .1em;

        @include bp.mobile {
            letter-spacing: normal;
            font-size: 1.9em;
        }

        @include bp.tablet {
            font-size: 2.7em;
        }
    }
}