@mixin section-base($backgroundImageUrl:'') {
    padding: 7em 0;
    background-image: url($backgroundImageUrl);

    &__heading {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.7em;
    }
}