@use '../../abstracts'as v;
@use '../../abstracts'as bp;
@use '../../abstracts/placeholders'as p;

.hero-slider {
    padding-top: 7em;

    @include bp.mobile {
        padding-top: 5.7em;
    }

    @include bp.tablet {
        padding-top: 5.9em;
    }

    &__item {
        display: flex;
        justify-content: space-around;
        position: relative;
        // height: 47em;

        @include bp.mobile {
            height: 16em;
        }

        @include bp.tablet {
            height: 23em;
        }

        &::before {
            @extend %before-after;
            // background-color: rgba(v.$black, .25);
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 6.3em;
        color: v.$bitez-secondary;
    }

    &__label {
        // display: inline-block;
        text-transform: uppercase;
        padding: 1em;
        color: v.$white;
    }

    &__image {
        width: 25em;
        height: 18em;

        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            max-width: 100%;
            height: 100%;
        }
    }
}